.ipynb_checkpoints/
#*.ipynb
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
!test_model_data_base/data
test_model_data_base/data/*
!test_model_data_base/data/test_data/
trash_it_now/
*.pyc
mechanisms/channels/x86_64
mechanisms/channels/*~
mechanisms/netcon/x86_64
mechanisms/netcon/*~
getting_started/barrel_cortex/*
!getting_started/barrel_cortex/*.7z.*
MOEA_EH_model_visualization/**/*~
.*
simrun2/used_seeds
mechanisms/channels_py3/x86_64/*
mechanisms/channels_py2/x86_64/*
mechanisms/netcon_py3/x86_64/*
mechanisms/netcon_py2/x86_64/*

#only template should be part of repository
getting_started/biophysical_constraints/86_CDK_20041214_BAC_run5_soma_Hay2013_C2center_apic_rec.param
getting_started/functional_constraints/network.param
getting_started/example_simulation_data/C2_evoked_UpState_INH_PW_1.0_SuW_0.5_C2center/20150815-1530_20240/20240_network_model.param
getting_started/example_simulation_data/C2_evoked_UpState_INH_PW_1.0_SuW_0.5_C2center/20150815-1530_20240/20240_neuron_model.param

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Virtual enviroments
venv/
installer/conda_packages/_libgcc_mutex-0.1-conda_forge.tar.bz2
installer/conda_packages/_openmp_mutex-4.5-1_gnu.tar.bz2
installer/conda_packages/backports_abc-0.5-py27_0.tar.bz2
installer/conda_packages/binutils_impl_linux-64-2.31.1-h6176602_1.tar.bz2
installer/conda_packages/binutils_linux-64-2.31.1-h6176602_9.tar.bz2
installer/conda_packages/blas-1.0-mkl.tar.bz2
installer/conda_packages/c-blosc-1.10.2-0.tar.bz2
installer/conda_packages/certifi-2019.11.28-py27_0.tar.bz2
installer/conda_packages/cffi-1.10.0-py27_0.tar.bz2
installer/conda_packages/cloudpickle-0.4.0-py27_0.tar.bz2
installer/conda_packages/dask-0.18.2-py27_0.tar.bz2
installer/conda_packages/dask-core-0.18.2-py27_0.tar.bz2
installer/conda_packages/distributed-1.22.1-py27_0.tar.bz2
installer/conda_packages/gcc_impl_linux-64-7.3.0-habb00fd_1.tar.bz2
installer/conda_packages/gcc_linux-64-7.3.0-h553295d_9.tar.bz2
installer/conda_packages/glib-2.50.2-1.tar.bz2
installer/conda_packages/gxx_impl_linux-64-7.3.0-hdf63c60_1.tar.bz2
installer/conda_packages/gxx_linux-64-7.3.0-h553295d_9.tar.bz2
installer/conda_packages/libblas-3.9.0-13_linux64_openblas.tar.bz2
installer/conda_packages/libcblas-3.9.0-13_linux64_openblas.tar.bz2
installer/conda_packages/libffi-3.2.1-1.tar.bz2
installer/conda_packages/libgcc-7.2.0-h69d50b8_2.tar.bz2
installer/conda_packages/libgcc-ng-11.2.0-h1d223b6_13.tar.bz2
installer/conda_packages/libgfortran5-11.2.0-h5c6108e_13.tar.bz2
installer/conda_packages/libgomp-11.2.0-h1d223b6_13.tar.bz2
installer/conda_packages/libopenblas-0.3.18-pthreads_h8fe5266_0.tar.bz2
installer/conda_packages/libpng-1.6.30-1.tar.bz2
installer/conda_packages/libstdcxx-ng-9.1.0-hdf63c60_0.tar.bz2
installer/conda_packages/lz4-0.10.1-py27_0.tar.bz2
installer/conda_packages/matplotlib-2.0.2-np111py27_0.tar.bz2
installer/conda_packages/mock-2.0.0-py27_0.tar.bz2
installer/conda_packages/msgpack-python-0.4.8-py27_0.tar.bz2
installer/conda_packages/nbformat-4.4.0-py27_0.tar.bz2
installer/conda_packages/ncurses-6.2-he6710b0_1.tar.bz2
installer/conda_packages/neuron-7.7.2-nompi_py27h91e308a_100.tar.bz2
installer/conda_packages/openpyxl-2.4.7-py27_0.tar.bz2
installer/conda_packages/openssl-1.0.2l-0.tar.bz2
installer/conda_packages/packaging-16.8-py27_0.tar.bz2
installer/conda_packages/pandas-0.19.2-np111py27_1.tar.bz2
installer/conda_packages/partd-0.3.8-py27h4e55004_0.tar.bz2
installer/conda_packages/pbr-4.2.0-py27_0.tar.bz2
installer/conda_packages/pyopenssl-16.2.0-py27_0.tar.bz2
installer/conda_packages/python-2.7.18-h02575d3_0.tar.bz2
installer/conda_packages/python-blosc-1.5.1-py27_0.tar.bz2
installer/conda_packages/readline-8.0-h7b6447c_0.tar.bz2
installer/conda_packages/scikit-learn-0.18.1-np111py27_1.tar.bz2
installer/conda_packages/seaborn-0.8-py27_0.tar.bz2
installer/conda_packages/snappy-1.1.6-0.tar.bz2
installer/conda_packages/sortedcontainers-2.0.4-py27_0.tar.bz2
installer/conda_packages/sqlite-3.33.0-h62c20be_0.tar.bz2
installer/conda_packages/statsmodels-0.8.0-np111py27_0.tar.bz2
installer/conda_packages/subprocess32-3.5.2-py27h14c3975_0.tar.bz2
installer/conda_packages/tblib-1.3.2-py27_0.tar.bz2
installer/conda_packages/tk-8.6.10-hbc83047_0.tar.bz2
installer/conda_packages/tornado-4.5.2-py27_0.tar.bz2
installer/conda_packages/zict-0.1.3-py27_0.tar.bz2
installer/conda_packages/zlib-1.2.11-0.tar.bz2
installer/pip_packages/blosc-1.10.2-cp38-cp38-manylinux2010_x86_64.whl
installer/pip_packages/bluepyopt-1.8.5.tar.gz
installer/pip_packages/bluepyopt-1.9.126.tar.gz
installer/pip_packages/bokeh-0.13.0.tar.gz
installer/pip_packages/chart_studio-1.1.0-py3-none-any.whl
installer/pip_packages/deap-1.2.2.tar.gz
installer/pip_packages/deap-1.3.1-cp38-cp38-manylinux2010_x86_64.whl
installer/pip_packages/django_tagging-0.4.6-py2.py3-none-any.whl
installer/pip_packages/Django-1.8.19-py2.py3-none-any.whl
installer/pip_packages/efel-3.1.70-cp38-cp38-manylinux2010_x86_64.whl
installer/pip_packages/fasteners-0.14.1-py2.py3-none-any.whl
installer/pip_packages/fasteners-0.16-py2.py3-none-any.whl
installer/pip_packages/fastjsonschema-2.15.3-py3-none-any.whl
installer/pip_packages/future-0.16.0.tar.gz
installer/pip_packages/httplib2-0.11.3.tar.gz
installer/pip_packages/Jinja2-2.10-py2.py3-none-any.whl
installer/pip_packages/jupyter_contrib_core-0.3.3-py2.py3-none-any.whl
installer/pip_packages/jupyter_contrib_nbextensions-0.5.0-py2.py3-none-any.whl
installer/pip_packages/jupyter_highlight_selected_word-0.2.0-py2.py3-none-any.whl
installer/pip_packages/jupyter_latex_envs-1.4.4.tar.gz
installer/pip_packages/jupyter_nbextensions_configurator-0.4.0-py2.py3-none-any.whl
installer/pip_packages/kazoo-2.8.0-py2.py3-none-any.whl
installer/pip_packages/monotonic-1.5-py2.py3-none-any.whl
installer/pip_packages/neo-0.7.1.tar.gz
installer/pip_packages/neo-0.9.0.tar.gz
installer/pip_packages/NEURON-7.8.2-cp38-cp38-manylinux1_x86_64.whl
installer/pip_packages/pandas-msgpack-0.1.4.tar.gz
installer/pip_packages/parameters-0.2.1.tar.gz
installer/pip_packages/pathlib-1.0.1.tar.gz
installer/pip_packages/Pillow-8.2.0-cp38-cp38-manylinux1_x86_64.whl
installer/pip_packages/plotly-4.14.3-py2.py3-none-any.whl
installer/pip_packages/pyparsing-2.2.0-py2.py3-none-any.whl
installer/pip_packages/PyPDF2-1.26.0.tar.gz
installer/pip_packages/quantities-0.12.2.tar.gz
installer/pip_packages/quantities-0.12.4.tar.gz
installer/pip_packages/redis-3.5.3-py2.py3-none-any.whl
installer/pip_packages/retrying-1.3.3.tar.gz
installer/pip_packages/scandir-1.10.0.tar.gz
installer/pip_packages/SimpleITK-1.2.0-cp27-cp27mu-manylinux1_x86_64.whl
installer/pip_packages/SimpleITK-2.0.2-cp38-cp38-manylinux2010_x86_64.whl
installer/pip_packages/six-1.12.0-py2.py3-none-any.whl
installer/pip_packages/Sumatra-0.7.4.tar.gz
installer/pip_packages/tenacity-7.0.0-py2.py3-none-any.whl
installer/pip_packages/torch-1.8.1-cp38-cp38-manylinux1_x86_64.whl
installer/pip_packages/torchaudio-0.8.1-cp38-cp38-manylinux1_x86_64.whl
installer/pip_packages/torchvision-0.9.1-cp38-cp38-manylinux1_x86_64.whl
installer/pip_packages/typing_extensions-3.10.0.0-py3-none-any.whl
