.organigram-row {
  display: table;
  position: relative;
  width: 50%;
  padding: 10px;
  table-layout: fixed;
  border: 1px solid rgb(0, 153, 255);
}

.organigram-fixed-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  width: 90%;
  height: 50px;
  background: rgba(0, 128, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.organigram-header {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  width: 10%;
  background: rgba(0, 128, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.organigram-expandable-cell {
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 30%;
  height: 50px;
  background: rgba(0, 128, 0, 0);
  border: 1px solid rgb(0, 255, 166);
}

.organigram-collapsible {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.organigram-collapsible:hover {
  background-color: #ccc;
}

.organigram-collapsible-content {
  display: block;
  overflow: hidden;
  height: 0;
  transition: height 0.2s ease-out;
  background-color: #f1f1f1;
  border: 1px solid rgb(234, 255, 0);
} 

.organigram-arrow-connector {
  padding: 0px;
  text-align: center;
  height: 5px;
  width: 5px;
  background-color: rgb(255, 2, 179);
}

#organigram-neuron {
  padding-right: 5px;
}

#organigram-msm {
  padding-right: 5px;
  padding-left: 5px;
}

#organigram-network {
  padding-left: 5px;
}