## vaex dependencies
vaex == 4.17.0
vaex-core == 4.17.1
        blake3==0.3.3
        pydantic==2.3.0
        pydantic_core==2.6.3
        annotated-types==0.5.0
        typing-extensions==4.7.1
        rich==13.5.2
        Pygments==2.16.1
        markdown_it_py==3.0.0
        mdurl==0.1.2
        aplus==0.11.0
        progressbar2==4.2.0
        python-utils==3.7.0
    frozendict==2.3.8

vaex-viz == 0.5.4
vaex-hdf5 == 0.14.1
vaex-server == 0.9.0
vaex-astro == 0.9.3
vaex-jupyter == 0.8.2
vaex-ml == 0.18.3

## model data base dependencies
pyarrow==13.0.0
blosc==1.11.1 # blosc==1.10.2
fasteners==0.18
scandir==1.10.0
kazoo==2.8.0
redis==3.5.3

## single_cell_parser dependencies
neuron==7.8.2
sumatra==0.7.4  # uses yaml.load without Loader kwarg
pyyaml==5.3.1  # downgrade from 6.0 to be compatible with sumatra

## biophysics fitting dependencies
deap==1.3.1
efel==3.1.70
bluepyopt==1.9.126

## spike_analysis dependencies
pypdf2==1.26.0
neo==0.9.0

## pytest
pytest==7.4.0
pytest-cov==4.1.0
coverage==7.3.0
pytest-xdist==3.3.1
execnet==2.0.2  # for pytest-xdist
exceptiongroup==1.1.2

## misc
chart-studio==1.1.0
fastjsonschema==2.15.3
parameters==0.2.1
pillow==8.2.0
quantities==0.12.4
retrying==1.3.3
simpleitk==2.2.0
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
dash==2.9.3
pipdeptree==2.13.0