.wy-nav-content {
    max-width: 1200px !important;
}

.row {
    display: table;
    position: relative;
    width: 50%;
    padding: 10px;
    table-layout: fixed;
    border: 1px solid rgb(0, 153, 255);
  }
  
.fixed-cell {
display: table-cell;
text-align: center;
vertical-align: middle;
padding: 10px;
width: 90%;
height: 50px;
background: rgba(0, 128, 0, 0);
border: 1px solid rgb(0, 0, 0);
}

.header {
display: table-cell;
text-align: center;
vertical-align: middle;
padding: 10px;
width: 10%;
background: rgba(0, 128, 0, 0);
border: 1px solid rgb(0, 0, 0);
}

.expandable-cell {
display: table-cell;
position: relative;
text-align: center;
vertical-align: top;
width: 30%;
height: 50px;
background: rgba(0, 128, 0, 0);
border: 1px solid rgb(0, 255, 166);
}

.collapsible {
width: 100%;
height: 100%;
text-align: center;
background-color: #eee;
color: #444;
cursor: pointer;
border: none;
text-align: left;
outline: none;
font-size: 15px;
}

.collapsible:hover {
background-color: #ccc;
}

.content {
display: block;
overflow: hidden;
height: 0;
transition: height 0.2s ease-out;
background-color: #f1f1f1;
border: 1px solid rgb(234, 255, 0);
} 

#neuron {
padding-right: 5px;
}

#msm {
padding-right: 5px;
padding-left: 5px;
}

#network {
padding-left: 5px;
}